:root {
  --primary-green: #495e57;
  --primary-yellow: #f4ce14;
  --secondary-darkpink: #ee9972;
  --secondary-lightpink: #fbdabb;
  --highlight-color-1: #edefee;
  --highlight-color-2: #333333;
}

html body {
  margin:0;
  padding:0;
}

.color-yellow {
  color: var(--primary-yellow);
}

.color-green {
  color: var(--primary-green);
}

.color-white {
  color: white;
}

@font-face {
  font-family: 'Markazi-Medium';
  src: url('./fonts/MarkaziText-Medium.ttf') format('truetype');
  /* Add additional font formats if available, such as woff, woff2, etc. */
}

@font-face {
  font-family: 'Karla-Reg';
  src: url('./fonts/Karla-Regular.ttf') format('truetype');
  /* Add additional font formats if available, such as woff, woff2, etc. */
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}


.headline {
  font-size: 40pt;
  font-family: Markazi-Medium;
}

.lead-text, .card-title {
  font-size: 18pt;
  line-height: 1.5;
}

p {
  font-family: Karla-Reg;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (max-width: 940px) {
  footer, nav {
    flex-direction: column;
    flex-wrap: wrap;
  }
  nav ul {
    flex-direction: column;
    flex-wrap: wrap;
  }
  nav li {
    flex: 0 0 50%;
  }
  main {
    max-width: 800px;
    margin: 0 auto;
  }
}

.logo {
  margin-top: -60px;
  height: 100px;
  width: 300px;
}

nav img {
  width: 300px;
  height: 200px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

nav div button {
  background: transparent;
  border: none;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  opacity: 0;
}

.logo {
  margin-right: auto;
}

.action-btn {
  background-color: var(--primary-yellow);
  padding: 1rem;
  border-radius: 20px;
  font-size: 1.2rem;
  margin-top: -0.5rem;
  cursor: pointer;
}

.action-btn:hover {
  background-color: var(--primary-green);
  color: white;
}

.action-btn:active {
  transform: scale(0.9);
}

footer {
  display: flex;
  justify-content: space-between;
  background: var(--primary-green);
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer nav li {
  padding: 0;
  margin: 0;
}

footer img {
  height: 200px;
}

footer nav ul {
  text-decoration: none;
  list-style: none;
  flex-direction: column;
  margin: 0 auto;
}

footer nav li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

footer nav li a:hover {
  color: var(--highlight-color-1);
}

footer section {
  margin: 2rem;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

main {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}



.required {
  color: red;
}